<!-- <button (click)="redirectToLogin()">Connect</button>-->

<div class="login-form">
    <h2 class="login-title">Formulaire de Connexion</h2>
    <form #loginForm="ngForm" (ngSubmit)="submitForm(); loginForm.resetForm()" >
        <div class="button-login">
        <mat-form-field class="title">
          <mat-label>Username:</mat-label>
          <input matInput  [(ngModel)]="username" placeholder="Username" name="Username">
        </mat-form-field>
      </div>
        <div class="button-login">
          <mat-form-field class="title"><mat-label>Password:</mat-label>
          <input matInput  [(ngModel)]="password" placeholder="Password" name="password" >
        </mat-form-field>
      </div>
        <!-- <mat-form-field>
            <mat-label>Select Role:</mat-label>
            <mat-select [(ngModel)]="selectedRole" name="role">
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="user">User</mat-option>
            </mat-select>
        </mat-form-field>-->

          <div class="button-login">
            <button type="submit" mat-flat-button color="primary">Submit</button>
          </div>
    </form>
</div>
