section {
  display: table;
}

.mat-sidenav-container{
  height: 100vh;
}

.mat-sidenav{
  width: 400px;
  height:auto;
  background-color:hsl(16, 100%, 66%);
}

.mat-list-item:hover {
  border-radius: 8px; 
  overflow: hidden; 
  background-color: hsl(16, 98%, 51%);
  font-family: 'BoldExo2';
}

.sidenav-text {
  font-family: 'BoldExo2';
  font-size: medium; 
  color: hsl(328, 49%, 42%) ;
}


.icon-container {
  margin-left: auto;
}


.background-container {
  background-image: url('background.jpg'); 
  background-repeat: repeat;
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  padding-top: 20px;
  display: flex;
}

.title {
  font-weight: bold;
  color: blue;
  font-size: xx-large;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.under-text {
  position: absolute;
  top: 15%; /* Adjust the top distance as needed */
  left: 25%;
}

.title {
  font-family: 'BoldExo2';
}

@font-face {
  font-family: 'BoldExo2';
  src: url('static/Exo2-Bold.ttf');
}