.rendu {
    color: green;
}

.rendu{
    color: red;
}



 .ajouterBtn {
    align-self: flex-end;
    margin-left: 20px;
    margin-bottom: 20px;
 }

 .mat-table-container {
   max-width: 400;
   margin: 0 auto; 
 }
 
 .custom-mat-table {
    background-color: rgb(178, 58, 56); 
    width: 100%; 
    margin:0;
    height: 100%;
  }

  .row-title {
    font-family: 'BoldExo2';
    font-size: large;
    color: rgb(222, 228, 44);
  }

  .cell {
    font-family: 'BlackExo2';
    color: #8ed735; 
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

  @font-face {
    font-family: 'BlackExo2';
    src: url('../static/Exo2-Black.ttf');

  }
  @font-face {
    font-family: 'BoldExo2';
    src: url('../static/Exo2-Bold.ttf');
  }