.rendu {
    color: green;
}

.rendu{
    color: red;
}

.form {
    display:flex;
    flex-direction: column;
    margin:5px;
 }

 .container {
    display: flex;
    flex-direction: column;
 }

 .ajouterBtn {
    align-self: flex-end;
 }
 