<main>
    <!-- <nav><a routerLink="/login"><button mat-flat-button color="warn">Connecter</button></a></nav> -->
    <nav><a routerLink="/add">
        <button class= "ajouterBtn" *ngIf="linkEnabled()" mat-flat-button color="accent">
         Ajouter devoir
        </button> 
    </a></nav>


<!-- <mat-list *ngFor="let assignment of assignments">
        <nav *ngIf="linkEnabled()" routerLink="/assignment/{{assignment.id}}">
            <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
            <mat-list-item >
            <div [ngStyle]="{'color': assignment.rendu ? 'green' : 'red' }">
                <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                    Devoir intitulé {{assignment.nom}} a été rendu.
                </p>
                <mat-divider></mat-divider>  
                <ng-template #nonsoumis>
                    Le devoir {{assignment.nom}} n'a pas été rendu.
                </ng-template>
            </div>
            </mat-list-item> 
        </nav>
</mat-list> -->


<div class="mat-table-container">
<mat-table [dataSource]="dataSource" class="custom-mat-table">

    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef>Nom du devoir</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Date de Rendu">
      <th mat-header-cell *matHeaderCellDef>Date de Rendu</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.dateDeRendu }}</td>
    </ng-container>

    <ng-container matColumnDef="Rendu">
      <th mat-header-cell *matHeaderCellDef>Rendu</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.rendu }}</td>
    </ng-container>
    
    <!--<ng-container matColumnDef="Matiere">
      <mat-header-cell *matHeaderCellDef>Matiere</mat-header-cell>
      <mat-cell *matCellDef="let assignment">{{ assignment.rendu }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Auteur">
      <mat-header-cell *matHeaderCellDef>Auteur</mat-header-cell>
      <mat-cell *matCellDef="let assignment">{{ assignment.rendu }}</mat-cell>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="row-title"></tr>
    <tr mat-row *matRowDef="let assignment  columns: displayedColumns" routerLink="/assignment/{{assignment.id}}" class="cell"></tr>

  </mat-table>
</div>


<!-- <app-assignment-detail 
[assignmentTransmis]="assignementSelectionne"></app-assignment-detail> -->


</main>

